/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}*/
html {
  font-size: 10pt;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
} 
body {
  margin: 0;
  background: none;
}
section {
  	margin: 0 80% 0 0;
  	width:20%;
    height: 60px;
    background: #FF9800;
    background: linear-gradient(to left, #FF9800 , white);
}
span {
    margin: 0;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    display: block;
    font-weight: 800;
    padding: 20px;
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
	font-family: monospace;
	text-shadow: 3px 1px 1px #fff;
	opacity: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}

/* Logo - start*/

/* Logo - end*/

header {
  	background: #2c3c4e;
  	height: 60px;
    width: 100%;
    font-size: 140%;
    position: fixed;
    top: 0;
    transition: opacity .2s ease-in-out;
}
h1 {
    font-weight: 600;
    color: white;
    display: block;
    margin: -50px 20% 0 20%;
    width:60%;
    padding-left: 20px;
    font-size: 25px;
    position: fixed;
}

nav{
	position: relative;
	width:20%;
    margin: -60px 0 0 80%;
    height: 60px;
    background: linear-gradient(to right, #2c3c4e , white);
}
a {
  margin: 16px 0px;
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  padding: 0 .5em;
  color: #fff;
}
nav a:hover,
nav a:focus {
  opacity: 1;
}


#container-1{
	position: relative;
	width:1000px;
	height:auto;
	margin: 100px auto;
    background-color: #f0f0f0;
    border: solid 1px black;
}

#container-1-head{
	background-color: #00778a;
    color: #fff;
    position: relative;
    margin: 0px;
    width: auto;
    height: 40px;
    padding-top: 20px;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: 18px;
}

#in-topic{
	background-color: #00778a;
	color: #fff;
    position: relative;
    width: auto;
    background: linear-gradient(to right, #00778a , white);
    margin: 20px;
    padding-left: 7px;
}

button{
	width: 120px;
	height: 30px;
	background: #fff;
	color: #07c;
    border: 1px solid #07c;
    border-radius: 2px;
    outline: none;
}

button:HOVER{
	opacity: 0.7;
}

button:ACTIVE{
	color: #fff;
	background: #07c;
	opacity: 1;
}

.s-buttons{
	width: 30px;
}


label{
	margin: 25px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

li {
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 1em;
}

li div {
    padding-left: 1em;
    position: relative;
}

li div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 50%;
    width: 0.75em;
    border: 2px solid #000;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

ul > li:last-child {
    border-left: 2px solid transparent;
}

@media (min-width: 500px) {
  header {
    text-align: left;
  }
  nav {
    float: right;
  }
}
/* @media (min-width: 800px) {
  article {
    margin: 3.5em auto;
  }
}

And here's the magic! EQCSS.js required
@element html, body and (min-scroll-y: 100vh) {
  header {
    position: fixed;
    top: 0;
    background: white;
    box-shadow: rgba(0,0,0,.05) 0 3px 15px;
  }
} #2c3c4e  #00778a*/


/* footer-wrap */
#footer-wrap {
  clear: both;
  width: 100%;
  font-size: 95%;
  padding: 20px 0;
  text-align: left;  
  background-color: #c0c0c0; 
  position: relative;
  bottom: 0;
}
#footer-wrap a {
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}
#footer-wrap a:hover {
  color: #000;  
}
#footer-wrap p {
  padding: 10px 0;
}
#footer-wrap h2 {
  color: #666666;
  margin: 0;
  padding: 0 10px; 
}

/* footer */
#footer {
  clear: both;
  color: #666;  
  margin: 0 auto 10px auto; 
  width: 70%;
  padding: 5px 0;
  text-align: center;
  background: #F8F7F7;
  border-top: 1px solid #F2F2F2;  
}